
body {
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

p {
    font-family: sans-serif;
    font-size: 16px;
}

.rodape p{
    font-family: sans-serif;
    font-size: 16px;
}

.rodape img{
    position: relative;
}